<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{config.siteName}}</title>
</head>
<body>
  <h1>{{config.siteName}} top Page!</h1>
  <p><a href="dest/pages/1.html">page1</a></p>
</body>
</html>